*,
*::before,
*::after {
    box-sizing: border-box;
}

.hidden {
    display: none
}





body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding-left: 0px;
    margin: 0;

}

a {
    text-decoration: none;
}


ol,
ul {
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(100%);
}


/* container-header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

}



.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;

    }
}


/* nav-menu */



.nav-list,
.contacts {
    display: none;
}

.burger-btn {
    display: block;
    fill: #2f2f37;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
}



@media screen and (min-width: 768px) {

    .header-container {
        display: flex;
        align-items: center;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .burger-btn {
        display: none;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mail-tel:hover,
    .mail-tel:focus,
    .nav-link:hover,
    .nav-link:focus,
    .nav-link.current {
        color: #404bbf;

    }

    .nav-link.current {
        position: relative;
    }

    .nav-link.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
    }

    .contacts {
        display: block;
        font-style: normal;
        /* margin-left: auto; */

    }

    .contacts-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 12px;
    }


    .mail-tel {
        /* display: flex; */
        font-size: 12px;
        line-height: 1.6;
        letter-spacing: 0.02em;
        color: #434455;
        transition:
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}





@media screen and (min-width: 1158px) {



    .header-nav {
        display: flex;
        align-items: center;
    }

    .contacts {
        font-style: normal;
        margin-left: auto;

    }

    .contacts-list {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 40px;
    }

    .mail-tel {
        display: flex;
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }



}

/* logo */


.logo {
    display: block;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway",
        sans-serif;
    color: #4d5ae5;
    padding: 16px 0;

}

.text-logo {
    color: #2e2f42;
}

@media screen and (min-width:768px) {
    .logo {
        padding: 24px 0;
        margin-right: 120px;
    }

}

@media screen and (min-width:1158px) {
    .logo {
        /* padding:24px 0; */
        margin-right: 76px;
    }

}

/* section-hero-text-button */



.section-hero {
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #2e2f42;
    max-width: 320px;
    margin-bottom: 96px;


}

.section-hero .container {
    display: flex;
    justify-content: center;
    align-items: center;

}


.container-title {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-hero {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;

}

.button-order-service {

    cursor: pointer;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order-service:hover,
.button-order-service:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

/*===Section-hero-768/1158===*/

@media screen and (min-width:768px) {
    .section-hero {
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 768px;

    }

    .title-hero {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
}

@media screen and (min-width:1158px) {
    .section-hero {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        margin: 0 auto;
    }

    .title-hero {
        font-size: 56px;
        margin-bottom: 48px;
    }
}


/* -- Section-our-features -- */




.list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
    margin: 0 auto;
}

/* .text-item {
    width: 264px;
} */

.head-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    line-height: 1.2;
    color: #2e2f42;
}


.list-of-features .text-list {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width:768px) {
    .list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        max-width: 356px;
        margin: 0;
    }
}