/* header-container */










/* header-logo */

/* .logo {

    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway",
        sans-serif;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
} */






/* .text-logo {

    color: #2e2f42;


} */

/* nav-menu */

/* .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
} */





/* contact-info */







/* .mail-tel {
    transition:
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */



/* -- section-our-features -- */



/* icon-features */

.icon-box {
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

/* .list {
    display: flex;
    gap: 24px;
    margin: 0 auto;
} */

/* .text-item {
    width: 264px;
} */

/* .head-list {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
} */





/* .list-of-features .text-list {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
} */

/* Our-Team */


/* section-images-team */


.team-head {

    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.card-item {
    display: flex;
    gap: 24px;

}

.card-team {
    background-color: #f4f4fd;
}


.card {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;

}

/* social-link-icon */

.link-icon {
    display: flex;

    gap: 24px;

}

.icon-item {
    list-style: none;

}

.social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}


.link-icon-svg {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}

/* name-team */

.text-name {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 232px;
    gap: 8px;

}

.name {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;


}


.card .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}



/* section-portfolio */


.portfolio-card {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;

}




.head-portfolio {

    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42
}

/* overlay */

.thumb {
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 300px;
}

.overlay-text {
    padding: 40px 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.parent:hover .overlay,
.parent:focus-within .overlay {
    transform: translateY(0);
}


.parent {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.parent:hover,
.parent:focus-within {
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
}

.text-portfolio {
    padding: 32px 16px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

/* head-h3 */

.service-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

/* text-p */

.service-text {

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* footer-section */

.footer-item {

    width: 264px;
}

.parent-footer {
    display: flex;
    align-items: baseline;
    gap: 120px;
}

.social-footer {

    width: 208px;
    height: 80px;

}

.social-link-footer {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31d0aa;

}


.link-icon-footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}

.link-footer-icon-svg {
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}

.social-media {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}





.footer-box {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}

.logo-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway",
        sans-serif;
    color: #4d5ae5;
}


.text-logo-footer {
    color: #f4f4fd;

}



.footer-text {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

}

/* ---FOOTER-INPUT-BUTTON--- */


.footer-email-input {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-width: 453px;
    height: 80px;
    margin-left: auto;
}


.footer-tytle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}



.footer-input-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}



.button-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    padding-block: 8px;
    padding-inline: 24px;
    width: 165px;
    height: 40px;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.footer-input-icon {
    fill: #ffffff;
    display: block;
    width: 24px;
    height: 24px;
}



.button-subscribe:hover,
.button-subscribe:focus {
    background-color: #31d0aa;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}



.email-subscribe {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.email-subscribe::placeholder {
    color: #ffffff;
}




.email-subscribe:hover,
.email-subscribe:focus {
    border-color: #31d0aa;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}



/* --BACKDROP-- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}



form,
input,
textarea,
label {
    font-family: "Roboto", sans-serif;
    outline: none;
    font-weight: 400;
    font-size: 12px;
}



.modal-header {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}



.form-input {
    width: 360px;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}


.modal-input {
    margin-bottom: 8px;
}



.modal-comment {
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;



}


label {
    display: flex;
    align-items: flex-start;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}


.form-comment::placeholder {
    font-weight: inherit;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}


.form-comment {
    padding-top: 8px;
    padding-left: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    min-height: 120px;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* margin-bottom: 16px; */
}


/* ===CLOSE-ICON-MODAL=== */


.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    fill: #2e2f42;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}


.input-wrapper:focus-within .form-input {
    border: 1px solid #4d5ae5;
    /* transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.input-wrapper:focus-within .input-icon {
    fill: #4d5ae5;

}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
    /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) */
}

.form-comment:hover,
.form-input:hover {
    border: 1px solid #4d5ae5;
    /* transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1); */

}

.form-comment:focus,
.form-input:focus {
    border: 1px solid #4d5ae5;
    /* transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}




.input-wrapper {
    position: relative;

}


.input-icon {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-block: 3px;
    padding-inline: 0px;
    gap: 4px;
    width: 18px;
    height: 24px;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}




.checkbox-input {
    position: relative;

}





.icon-click {
    fill: #f4f4fd;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
}

.click-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);


}


.check:checked+.checkbox-label .click-icon {
    background-color: #404bbf;
    border: none;

}

.check:checked+.checkbox-label .icon-click {
    opacity: 1;
}





.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 0;
    width: 360px;
    height: 16px;
}




.link-privacy {
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}


.button-form:hover,
.button-form:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

.checkbox-form {
    margin-bottom: 24px;
}

.button-form {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    padding-block: 16px;
    padding-inline: 32px;
    width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    margin: 0 auto;

}